<!DOCTYPE html>
<html lang="en">
<head>
    <title>Express App</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    {{>header}}
    <h1>Weather</h1>
    <h1>{{forecast}}</h1>
    <p>{{address}}</p>
    {{>footer}}
</body>
</html>